@charset 'utf-8';
@use "../globals" as *;

// Noto Sans KR
//@font-face {
//  font-display: swap;
//  font-family: "Noto Sans KR";
//  src: url("/assets/fonts/NotoSansKR-Thin.woff2") format("woff2"),
//    url("/assets/fonts/NotoSansKR-Thin.woff") format("woff");
//  font-weight: 100;
//  font-style: normal;
//}
//@font-face {
//  font-display: swap;
//  font-family: "Noto Sans KR";
//  src: url("/assets/fonts/NotoSansKR-Regular.woff2") format("woff2"),
//    url("/assets/fonts/NotoSansKR-Regular.woff") format("woff");
//  font-weight: 400;
//  font-style: normal;
//}
//@font-face {
//  font-display: swap;
//  font-family: "Noto Sans KR";
//  src: url("/assets/fonts/NotoSansKR-Bold.woff2") format("woff2"),
//    url("/assets/fonts/NotoSansKR-Bold.woff") format("woff");
//  font-weight: 700;
//  font-style: normal;
//}

@font-face {
  font-family: "Material Icons Outlined";
  src: url("/assets/fonts/MaterialIconsOutlined.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Pretendard;
  font-weight: 100;
  font-style: normal;
  src: url(/assets/fonts/Pretendard-Thin.woff2) format("woff2"),
    url(/assets/fonts/Pretendard-Thin.woff) format("woff");
}

@font-face {
  font-family: Pretendard;
  font-weight: 200;
  font-style: normal;
  src: url(/assets/fonts/Pretendard-ExtraLight.woff2) format("woff2"),
    url(/assets/fonts/Pretendard-ExtraLight.woff2) format("woff");
}

@font-face {
  font-family: Pretendard;
  font-weight: 300;
  font-style: normal;
  src: url(/assets/fonts/Pretendard-Light.woff2) format("woff2"),
    url(/assets/fonts/Pretendard-Light.woff) format("woff");
}

@font-face {
  font-family: Pretendard;
  font-weight: 400;
  font-style: normal;
  src: url(/assets/fonts/Pretendard-Regular.woff2) format("woff2"),
    url(/assets/fonts/Pretendard-Regular.woff) format("woff");
}

@font-face {
  font-family: Pretendard;
  font-weight: 500;
  font-style: normal;
  src: url(/assets/fonts/Pretendard-Medium.woff2) format("woff2"),
    url(/assets/fonts/Pretendard-Medium.woff) format("woff");
}

@font-face {
  font-family: Pretendard;
  font-weight: 600;
  font-style: normal;
  src: url(/assets/fonts/Pretendard-SemiBold.woff2) format("woff2"),
    url(/assets/fonts/Pretendard-SemiBold.woff) format("woff");
}

@font-face {
  font-family: Pretendard;
  font-weight: 700;
  font-style: normal;
  src: url(/assets/fonts/Pretendard-Bold.woff2) format("woff2"),
    url(/assets/fonts/Pretendard-Bold.woff) format("woff");
}

@font-face {
  font-family: Pretendard;
  font-weight: 800;
  font-style: normal;
  src: url(/assets/fonts/Pretendard-ExtraBold.woff2) format("woff2"),
    url(/assets/fonts/Pretendard-ExtraBold.woff) format("woff");
}

@font-face {
  font-family: Pretendard;
  font-weight: 900;
  font-style: normal;
  src: url(/assets/fonts/Pretendard-Black.woff2) format("woff2"),
    url(/assets/fonts/Pretendard-Black.woff) format("woff");
}

:lang(kr),
.font-noto-sans-kr {
  //--font-noto-sans-kr: "Noto Sans KR", sans-serif;
  --font: Pretendard, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    Segoe UI Symbol, "Noto Color Emoji";
  font-family: var(--font);
}
