@use "@/styles/scss/globals" as *;

.customAutocomplete {
  .MuiOutlinedInput-root {
    .MuiOutlinedInput-notchedOutline {
      border-color: #ccc;
    }

    &:hover .MuiOutlinedInput-notchedOutline {
      border-color: #7ef542;
    }

    &.Mui-focused .MuiOutlinedInput-notchedOutline {
      border-color: #ff0000;
    }
  }
}
